<form #searchForm="ngForm" (ngSubmit)="getGameByName(searchForm)">
    <input type="text" name="name" ngModel>
    <button>Search</button>
</form>
 
<div *ngFor="let g of gameSearch.games">
    <button (click)="selectGameFromSearch(g)"> {{g.name}} </button>
</div>

<div>
    <h1>
       {{ selectedGame.name }} 
    </h1>
    <img src="{{ selectedGame.thumb_url}}">
    <p [innerHTML]="selectedGame.description"></p>
    
</div>

<div *ngIf="loggedIn">
    <button (click)="addGameToGameShelf(selectedGame.id)" >Add Game to Shelf</button>
</div>

<div *ngFor="let g of myGameShelf">
    {{ g.name }}
</div>
