
<div style=" padding:10px; background-color: #3a2081; ">
    <form #searchForm="ngForm" (ngSubmit)="getGameByName(searchForm)" class="centerText">
        <input type="text" name="name" ngModel>
        <button>Search</button>
    </form>
     
    <div *ngFor="let g of gameSearch.games" class="centerText">
        <button (click)="selectGameFromSearch(g)" class="centerText"> {{g.name}} </button>
    </div>
    
    <div class="text-center" *ngIf="selectedGame.description != null">
        <h1 class="centerText text-white">
           {{ selectedGame.name }} 
        </h1>
        <img style="width:250px; height:250px; margin-top: 5px;" src="{{ selectedGame.thumb_url}}">
        <p class="description" [innerHTML]="selectedGame.description"></p>
    </div>
    
    <div *ngIf="loggedIn" >
        <button (click)="addGameToGameShelf(selectedGame.id)" >Add Game to Shelf</button>
    </div>

    <div>
        <h2 class="d-flex justify-content-center text-white" style="margin:15px">{{getLoggedInUser(user.id).userName }}'s Game Shelf</h2>
    </div>
    <div class="row text-center">
        <div *ngFor="let g of myGameShelf" class="col-6 col-sm-3" style="height:230px; margin-top: 5px;" >
            <div class="shelf" style="height: 100%;" >
                <p class="text-white text-center">{{ g.name }}</p>
                <img style="height: 100px; width: 100px;" src="{{g.thumb_url}}">
            </div>
        </div>
    </div>
    
</div>

