<button (click)="togglePeople()">Display People</button>

<div *ngIf="displayPeople==true">
    <div *ngFor="let u of users">
        <input type="checkbox" (click)="selectUser(u)">
        {{ u.userName }}
    </div>
</div>
<button (click)="getSelectedUserOwnedGames()"> Collected Game Shelf</button>
<button (click)="selectedGamesCategories()"> Categories</button>

<button (click)="toggleCategory()">Choose a Category</button>

<div *ngIf="displayCategoryNames == true">
    <div *ngIf="selectedCategoryNames.length > 0">
        <div *ngFor="let n of selectedCategoryNames">
            <input type="radio"  name="category" (click)="selectCategory(n)" />
            {{ n }}
        </div>
    </div>

</div>