<p>user-profile works!</p>


<form class="form" #addForm="ngForm" (ngSubmit)="updateProfile(addForm)">
  Username:<input type="text" name="userName" ngModel />
  Age:<input type="text" name="age" ngModel />
  Summary:<input type="text" name="summary" ngModel />
  <br />
  <button>Submit</button>
</form>





<!-- <div *ngIf="socialAuthServive.authState | async as socialUser">
    <p>Hello, {{socialUser.name}}!</p>
    <p>Your email: {{socialUser.email}}</p>
    <button mat-raised-button (click)="logout()">Logout</button>
  </div> -->
  