<form class="form" #addForm="ngForm" (ngSubmit)="updateProfile(addForm)">
  Username:<input type="text" name="userName" ngModel />
  Age:<input type="text" name="age" ngModel />
  Summary:<input type="text" name="summary" ngModel />
  <br />
  <button>Submit</button>
</form>

<div *ngIf="gameSessionTitle.length > 0">
  <div *ngFor="let s of sessions; index as i">
    {{ gameEvents[i].date }} {{ gameSessionTitle[i] }}
    <div *ngIf="s.winner == null">
      <form class="form" #addForm="ngForm" (ngSubmit)="updateWinner(addForm)">
        <div>
          <button (click)="toggleAttendees()">Display Attendees</button>
        </div>
        <div *ngIf="displayAttendees == true">
          <div *ngFor="let p of s.sessionAttendees">
            <p>{{ p.user.userName }}</p><input type="radio" name="winner" value="{{ p.user.userName }}" ngModel />
          </div>
        </div>
        <input type="hidden" name="index" ngModel="{{ i }}" />
        <br />
        <button>Submit</button>
      </form>
    </div> 
    <div *ngIf="s.winner !=null">
      <p>Winner: {{ s.winner }}</p>
    </div>
  </div> 
</div>





<!-- <div *ngIf="socialAuthServive.authState | async as socialUser">
    <p>Hello, {{socialUser.name}}!</p>
    <p>Your email: {{socialUser.email}}</p>
    <button mat-raised-button (click)="logout()">Logout</button>
  </div> -->
  